NEXT_PUBLIC_API_URL=http://localhost:3001/api

#FrontEnd
FRONTEND_URL=http://localhost:3000
PUBLIC_STATIC_CDN=https://d5mxegnzmgxf4.cloudfront.net/uploads

# Template URLs
NEXT_PUBLIC_EXCHANGE_TEMPLATE_URL=http://d5mxegnzmgxf4.cloudfront.net/templates/partner_exchange_import_template.csv

# Zendesk
NEXT_PUBLIC_ZENDESK_KEY=