<div class="footer">
    <p>This is an automated message from PerkX. Please do not reply to this email.</p>
    <p>
        <a href="https://perkx.io/support">Contact Support</a> | 
        <a href="https://perkx.io/login">Visit PerkX</a>
    </p>
    <p>&copy; {{year}} PerkX. All rights reserved.</p>
</div>
