# Database Configuration
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=perkx

# User JWT Configuration
USER_JWT_SECRET=0d8827ff6f9444f1cc050c01b4a860fc780a6d59b4122888f3e40ff3a9bbf422b5aedacbfc7d0650a0cc20a72f35895fa7b2db6f39f7e7eac46317cad51ec7bb
USER_JWT_EXPIRES_IN=7d

# Admin JWT Configuration
ADMIN_JWT_SECRET=3fc37ab44af51432b8027f78d720f45b107703c3e329bc228974e5b29d41187108021677929cd2c4e7a14c9de7b3e1d012a682880f9fb469216ca5840eabec5b
ADMIN_JWT_EXPIRES_IN=1d

# Application Configuration
PORT=3001
NODE_ENV=development

#Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=b7bfcc8c472ef4
MAIL_PASSWORD=cf30f60220fffd
MAIL_FROM="PerkX <no-reply@perkx.io>"

#FrontEnd
FRONTEND_URL=localhost:3000

# Storage Configuration
DISK_DRIVER=local
STORAGE_LOCAL_PATH=./uploads
STORAGE_LOCAL_BASE_URL=http://localhost:3001/uploads
#DISK_DRIVER=s3
PUBLIC_STATIC_CDN=https://d5mxegnzmgxf4.cloudfront.net
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# EXCHANGE
BINGX_URL=https://open-api.bingx.com
BINGX_API_KEY=
BINGX_API_SECRET=

BITGET_URL=https://api.bitget.com
BITGET_API_KEY=
BITGET_API_SECRET=
BITGET_PASSPHRASE=

OKX_URL=https://www.okx.com
OKX_API_KEY=
OKX_API_SECRET=
OKX_PASSPHRASE=